<div class="row text-center">
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
   
  </div>
</div>
<br />

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                {{months[viewDate.getMonth()].days}}
                <td>{{months[viewDate.getMonth()].name}}</td>
                <td>Granada</td>
                <td>Málaga</td>
                <td>Almería</td>
                <td>Cádiz</td>
                <td>Córdoba</td>
                <td>Huelva</td>
                <td>Jaén</td>
                <td>Sevilla</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let day of months[viewDate.getMonth()].days">
                <td>{{day}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Sidebar -->

<div>

</div>